@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');

#home {
    font-family: 'Muli', sans-serif;
}

div h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

.menubutton {
    background-color: #ffffff !important;
    color: #000 !important;
    width: 100%;
    max-width: 300px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.mb-4   {
    margin: 0;
}
.menubutton:hover {
    background-color: #F8DB3D !important;
    text-decoration: none;
}
